body {
  margin: 0;
  padding: 0;
  background: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Arial', sans-serif;
  color: #fff;
}

.App {
  text-align: center;
  margin: 50px;
  margin-top: -10px;
}

h1 {
  color: white;
  background-color: rgb(40, 91, 82);
  padding: 10px;
}

h2 {
  color: white;
  background-color: rgb(40, 91, 82);
  padding: 10px;
  text-align: left;
}

textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ddd; /* Add a border */
  border-radius: 5px; /* Add rounded corners */
  resize: vertical; /* Allow vertical resizing */
  background-color: lightgrey;
  color: black;
}

button {
  background-color: rgb(40, 91, 82);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  font-weight: 500;
}

button:hover {
  background-color: #45a049;
}

div {
  margin-top: 20px;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  font-size: 18px;
  color: #555;
}
